{% load tailwind_tags django_htmx %}

{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="en">

<head>
{% block head %}
{% include "components/head_meta.html" %}
{% endblock %}

{% block title %}
{% if title %}
<title>{{ title }} - Primal Mahjong Club</title>
{% elseif %}
<title>Primal Mahjong Club</title>
{% endif %}
{% endblock %}

{% block css %}
{% tailwind_css %}
{% endblock %}
</head>

<body>
{% block content %}{% endblock %}

{% block scripts %}
{% django_htmx_script %}
{% endblock %}
</body>

</html>